<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/top.css}">
  <title>ログイン</title>
</head>

<body class="auth-page">

  <header class="auth-header">
    <h1>My Portfolio</h1>
  </header>

  <main class="auth-main">
    <h2 class="auth-title">ログイン</h2>

    <form
        class="auth-form"
        th:action="@{/login}"
        method="post"
        novalidate>

      <div class="auth-field">
        <label for="email">メールアドレス</label>

        <input
            id="email"
            type="email"
            name="email"
            placeholder="メールアドレス"
            th:value="${email}">
      </div>

      <div class="auth-field">
        <label for="password">パスワード</label>

        <input
            id="password"
            type="password"
            name="password"
            placeholder="パスワード">
      </div>

      <p
          class="auth-error"
          th:if="${loginError}"
          th:text="${loginError}">
      </p>

      <button class="auth-submit-button" type="submit">
        ログインする
      </button>

      <a th:href="@{/register}" class="auth-register-button">
        新規登録する
      </a>

    </form>
  </main>

  <footer class="auth-footer">
    portfolio site
  </footer>

</body>
</html>