<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/top.css">
  <title>ログイン</title>
</head>

<body class="login-page">

  <header>
    <h1>My Portfolio</h1>
  </header>

  <main>
    <h2 class="page-title">ログイン</h2>

    <form
        class="login-form"
        action="/login"
        method="post"
        novalidate
    >

      <label for="email">メールアドレス</label>
      <input
          id="email"
          type="email"
          name="email"
          placeholder="メールアドレス"
          th:value="${email}"
      >

      <label for="password">パスワード</label>
      <input
          id="password"
          type="password"
          name="password"
          placeholder="パスワード"
      >

      <p
          class="error-message login-error-message"
          th:if="${loginError}"
          th:text="${loginError}"
      ></p>

      <button class="login-submit-button" type="submit">
        ログインする
      </button>

      <a href="/register" class="register-button">
        新規登録する
      </a>

    </form>
  </main>

  <footer>
    portfolio site
  </footer>

</body>
</html>