<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/top.css">
  <title>新規登録</title>
</head>
<body>
  <header>
    <h1>My Portfolio</h1>
    <button>ログイン</button>
  </header>

  <main>
    <h2>新規登録</h2>

    <form class="register-form">
      <label>氏名</label>
      <input type="text" placeholder="アカデミー花子">

      <label>メールアドレス</label>
      <input type="email" placeholder="tatsuya.yokokura@prum.jp">

      <label>パスワード</label>
      <input type="password" placeholder="パスワード">

      <button class="submit-button" type="submit">登録する</button>
    </form>
  </main>
  <footer>
  portfolio site
</footer>
</body>
</html>