<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/top.css">
  <title>TOP</title>
</head>
<body>
  <header>
    <h1>My Portfolio</h1>
    <button>ログアウト</button>
  </header>

  <main>
    <section class="profile-section">
      <div class="profile-left">
        <img src="/images/profile.png"
     class="profile-image"
     alt="プロフィール画像">
        <p>アカデミー花子</p>
      </div>

      <div class="profile-right">
        <h2>自己紹介</h2>
        <div class="line"></div>
        <p>
          自分の自己紹介文章が入ります。自分の自己紹介文章が入ります。
          自分の自己紹介文章が入ります。自分の自己紹介文章が入ります。
        </p>
        <button class="edit-button">自己紹介を編集する</button>
      </div>
    </section>

    <section class="chart-section">
      <h2>学習チャート</h2>
      <div class="line chart-line"></div>
      <button class="edit-button">編集する</button>

      <div class="chart-area">
        Chart.js Bar Chart
      </div>
    </section>
  </main>

  <footer>portfolio site</footer>
</body>
</html>