<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    
  <link rel="stylesheet" href="/css/top.css">
  <title>TOP</title>
</head>
<body>
  <header>
    <h1>My Portfolio</h1>
     <form action="/logout" method="post" class="logout-form">
    <button type="submit" class="logout-button">
      ログアウト
    </button>
  </form>
  </header>

  <main>
    <section class="profile-section">
  <div class="profile-left">

    <div class="profile-image-area">
      <img
        th:if="${hasProfileImage}"
        th:src="@{/profile/image}"
        alt="プロフィール画像"
        class="profile-image">

      <div
        th:unless="${hasProfileImage}"
        class="profile-image-placeholder">
      </div>
    </div>

    <p th:text="${loginUser['name']}">アカデミー花子</p>
  </div>

  <div class="profile-right">
    <h2>自己紹介</h2>
    <div class="line"></div>

    <p
      class="profile-introduction"
      th:if="${loginUser['introduction'] != null}"
      th:text="${loginUser['introduction']}">
    </p>

    <p
      class="profile-introduction"
      th:unless="${loginUser['introduction'] != null}">
      自己紹介はまだ登録されていません
    </p>

    <div class="profile-button">
      <a th:href="@{/profile/edit}" class="edit-button">
        自己紹介を編集する
      </a>
    </div>
  </div>
</section>

    <section class="chart-section">
      <h2>学習チャート</h2>
      <div class="line chart-line"></div>
      <button class="edit-button">編集する</button>

      <div class="chart-area">
        Chart.js Bar Chart
      </div>
    </section>
  </main>

  <footer>portfolio site</footer>
</body>
</html>